body {
  background: rgb(65, 63, 63);
margin: 20px;
  .header {
    height: 60px;
    background: grey;
    padding: 15px;
    display:flex;
    align-items: center;
    &__input {
      margin:0 auto;
      height: 30px;
      width: 200px;
    }
    
  }

  .shoplist {
    background-color: rgb(44, 41, 41);
    padding: 15px;
    &__item {
    border: 1px solid red;
    background: rgb(233, 99, 99);
    border-radius: 5px;
    list-style-type: none;
    height: 30px;
    width: 50px;
    margin:20px;
    padding: 15px;
    color: white ;

    }
  }
  
}


